<li {% if page.url == '{{ site.baseurl }}/' %}            class="active"{% endif %}><a href="{{ site.baseurl }}/">            Home</a></li>
<li {% if page.url == '{{ site.baseurl }}/philosophy/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/philosophy/"> Design philosophy</a></li>
<li {% if page.url == '{{ site.baseurl }}/blog/' %}       class="active"{% endif %}><a href="{{ site.baseurl }}/blog/">       Blog</a></li>
<li {% if page.url == '{{ site.baseurl }}/team/' %}       class="active"{% endif %}><a href="{{ site.baseurl }}/team/">       Team</a></li>
<li {% if page.url == '{{ site.baseurl }}/sponsors/' %}   class="active"{% endif %}><a href="{{ site.baseurl }}/sponsors/">   Sponsors</a></li>
<li {% if page.url == '{{ site.baseurl }}/gallery/' %}    class="active"{% endif %}><a href="{{ site.baseurl }}/gallery/">    Media</a></li>
